@{
    ViewData["Title"] = "Medico";
}
@model Projeto_Cliínica.Models.Medico;
<form action="/Medico/Create" method="post" id="frmCadastroMedico">
    <div class="row mt-4 mb-4">
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Usuario.Nome"></label>
                <input asp-for="@Model.Usuario.Nome" class="form-control" required/>
                <span asp-validation-for="@Model.Usuario.Nome" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="form-group">
                <label asp-for="@Model.Usuario.Email"></label>
                <input asp-for="@Model.Usuario.Email" class="form-control" required/>
                <span asp-validation-for="@Model.Usuario.Email" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Usuario.DataNascimento"></label>
                <input asp-for="@Model.Usuario.DataNascimento" class="form-control" required/>
                <span asp-validation-for="@Model.Usuario.DataNascimento" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label asp-for="@Model.Usuario.CPF"></label>
                <input asp-for="@Model.Usuario.CPF" class="form-control cpf" required/>
                <span asp-validation-for="@Model.Usuario.CPF" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="form-group">
                <label asp-for="@Model.CRM"></label>
                <input asp-for="@Model.CRM" class="form-control" required/>
                <span asp-validation-for="@Model.CRM" class="text-danger small"></span>
            </div>
        </div>
        <div class="col-12">
            <div class="form-group">
                <button type="submit" id="btnCriarMedico" class="btn btn-primary">Salvar</button>
            </div>
        </div>
        <div class="col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        </div>
    </div>
</form>
<script>
    jQuery(document).ready(function ($) {
        $("#btnCriarMedico").on("click", function (event) {
            console.log($("#frmCadastroMedico")[0].checkValidity());
            if ($("#frmCadastroMedico")[0].checkValidity() == false)
                return;
            else {
                event.preventDefault();
                event.stopPropagation();

                const $form = $("#frmCadastroMedico");
                const dadosForm = new FormData($form[0]);
                const urlForm = $form.attr("action");
                const method = $form.attr("method");

                $.ajax({
                    type: method,
                    url: urlForm,
                    data: dadosForm,
                    cache: false,
                    contentType: false,
                    processData: false,
                    beforeSend: function () {
                        $form.find("button").html(
                            "<span class='spinner-border spinner-border-sm' role='status' aria-hidden='true'></span>&nbsp;Salvar"
                        ).attr("disabled", true);
                    },
                    success: function (response) {
                        $form[0].reset();
                        Swal.fire({
                            icon: 'success',
                            title: 'Sucesso!',
                            text: 'Médico salvo com sucesso'
                        })
                    },
                    error: function (response) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Ops, ocorreu um erro inesperado no cadastro do médico',
                            text: response.responseText
                        })
                    }
                }).always(function (response) {
                    console.log(response);
                    $form.find("button").html("Salvar").removeAttr("disabled");
                });
            }
        });
       
    });
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}